//Fonts
$font-family-primary: Montserrat, Verdana, sans-serif;
$font-family-secondary: Roboto, Georgia, sans-serif;
$font-family-tertiary: 'Kaushan Script', 'Brush Script M7', cursive;

//Colors
$color-primary: #f38181;
$color-secondary: #fce38a;
$color-tertiary: #95e1d3;
$color-quaternary: #eaffd0;

//Font colors
$font-color-primary: #333333;
$font-color-secondary: #ffffff;
$font-color-tertiary: #999999;

//Border colors
$border-color-primary: #e5e5e5;

//Gradients
$gradient-primary: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);

//Buttons
$button-font-color: $font-color-secondary;
$button-border-color: $font-color-secondary;

//Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;