//Colors
$color-primary: #f38181;
$color-secondary: #fce38a;
$color-tertiary: #95e1d3;
$color-quaternary: #eaffd0;

//Font colors
$font-color-primary: #333333;
$font-color-secondary: #ffffff;
$font-color-tertiary: #999999;

//Border colors
$border-color-primary: #e5e5e5;

//Gradients
$gradient-primary: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);

//Buttons
$button-font-color: $font-color-secondary;
$button-border-color: $font-color-secondary;