.header {
    display: grid;
    place-content: center;
    grid-area: header;

    background: $gradient-primary;

    &__subtitle,
    &__title {
        color: $font-color-secondary;
    }

    &__title {
        font-family: $font-family-primary;
    }

    &__subtitle {
        font-family: $font-family-tertiary;
    }
}