*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

body, a {
  font-size: 14px;
  font-family: Montserrat, Verdana, sans-serif;
  color: #333333;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .title {
    font-size: 25px;
  }
}
.title--big {
  font-size: 150px;
  line-height: 140px;
}
@media (max-width: 992px) {
  .title--big {
    font-size: 100px;
    line-height: 110px;
  }
}
@media (max-width: 576px) {
  .title--big {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
  }
}

.subtitle {
  font-size: 24px;
  font-family: "Kaushan Script", "Brush Script M7", cursive;
}
@media (max-width: 576px) {
  .subtitle {
    font-size: 18px;
  }
}
.subtitle--big {
  font-size: 72px;
}
@media (max-width: 992px) {
  .subtitle--big {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .subtitle--big {
    font-size: 34px;
  }
}

.desc {
  font-size: 15px;
  font-family: Roboto, Georgia, sans-serif;
  color: #999999;
  line-height: 24px;
}

.overflow-hidden {
  overflow: hidden;
}

.button {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 3px solid #ffffff;
  padding: 10px 30px;
  transition: background-color 0.4s, border-color 0.4s;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 576px) {
  .button {
    padding: 7px 20px;
    font-size: 12px;
  }
}
.button:hover {
  background-color: #f38181;
  border-color: #f38181;
}

.boxes-icon-info {
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  gap: 80px 60px;
  padding: 20px 30px;
}
@media (max-width: 992px) {
  .boxes-icon-info {
    grid: 1fr/repeat(2, 1fr);
    gap: 50px 40px;
    padding: 10px 15px;
  }
}
@media (max-width: 576px) {
  .boxes-icon-info {
    grid: 1fr/repeat(1, 1fr);
    gap: 25px;
    padding: 0;
  }
}
.boxes-icon-info__box {
  display: grid;
  grid: "box-icon box-title" auto "... box-desc" 1fr/auto 1fr;
  gap: 0 20px;
}
@media (max-width: 576px) {
  .boxes-icon-info__box {
    grid: "box-icon" auto "box-title" auto "box-desc" 1fr/1fr;
    justify-items: center;
    gap: 15px;
  }
}
.boxes-icon-info__icon {
  grid-area: box-icon;
}
.boxes-icon-info__title {
  grid-area: box-title;
  font-weight: 600;
  text-transform: uppercase;
}
.boxes-icon-info__desc {
  grid-area: box-desc;
}
@media (max-width: 576px) {
  .boxes-icon-info__desc {
    text-align: center;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px 0;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  max-width: 380px;
}
.gallery__img-container {
  background-color: #95e1d3;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.gallery__img > img {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery__img--bg-color::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}
.gallery__img--bg-color:hover::after {
  opacity: 0.85;
  background: linear-gradient(0deg, #fce38a 0%, #f38181 100%);
}
.gallery__img--hover-move {
  transition: transform 0.4s;
}
.gallery__img--hover-move:hover {
  transform: translate(-10px, -10px);
}
.gallery__title {
  padding-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery__subtitle {
  font-size: 15px;
  font-family: Roboto, Georgia, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.social-media {
  display: flex;
}
.social-media__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  transition: background-color 0.4s;
}
.social-media__icon:hover {
  background-color: #f38181;
}
.social-media__icon:hover img {
  filter: brightness(10);
}
.social-media__icon::before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #f38181;
  opacity: 0.502;
}
.social-media__icon:last-child::before {
  content: none;
}

.hamburger {
  position: relative;
  grid-area: hamburger;
  display: none;
  justify-self: end;
  width: min-content;
}
@media (max-width: 992px) {
  .hamburger {
    display: flex;
  }
}
.hamburger__lines {
  display: block;
  height: 23px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger__line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}
.hamburger__line--line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.hamburger__line--line2 {
  transition: transform 0.2s ease-in-out;
}
.hamburger__line--line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.hamburger__input {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
}
.hamburger__input:checked ~ .hamburger__lines .hamburger__line--line1 {
  transform: rotate(35deg);
}
.hamburger__input:checked ~ .hamburger__lines .hamburger__line--line2 {
  transform: scaleY(0);
}
.hamburger__input:checked ~ .hamburger__lines .hamburger__line--line3 {
  transform: rotate(-35deg);
}

.main-grid {
  display: grid;
  grid: "... nav ..." 0 "header header header" auto "... services ..." auto "... our-team ..." auto "... footer ..." auto/minmax(15px, 1fr) minmax(auto, 1200px) minmax(15px, 1fr);
}

.header {
  position: relative;
  display: grid;
  grid: "subtitle" 1fr "title" 2fr "button" 1fr/1fr;
  justify-items: center;
  grid-area: header;
  background: linear-gradient(0deg, #fce38a 0%, #f38181 100%);
  padding: 200px 0 225px;
  z-index: 0;
}
@media (max-width: 992px) {
  .header {
    padding: 150px 0 150px;
  }
}
@media (max-width: 576px) {
  .header {
    gap: 10px;
    padding: 120px 15px;
  }
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/images/vulture.png") no-repeat center;
  opacity: 0.1;
  z-index: -1;
}
@media (max-width: 992px) {
  .header::after {
    background-position: center;
  }
}
.header__subtitle, .header__title {
  color: #ffffff;
}
.header__title {
  grid-area: title;
  align-self: center;
  letter-spacing: -5px;
  max-width: 850px;
}
@media (max-width: 576px) {
  .header__title {
    letter-spacing: 0px;
  }
}
.header__subtitle {
  grid-area: subtitle;
  align-self: center;
}
.header__button {
  grid-area: button;
  align-self: end;
}

.nav {
  position: relative;
  display: grid;
  grid-area: nav;
  grid: "logo ... list ... icons" auto/auto minmax(20px, 1fr) auto minmax(20px, 50px) auto;
  align-items: center;
  height: fit-content;
  background-color: transparent;
  padding: 30px 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .nav {
    grid: "logo hamburger" auto/1fr 1fr;
  }
}
.nav__logo {
  grid-area: logo;
}
.nav__list {
  display: flex;
  grid-area: list;
  gap: 50px;
}
@media (max-width: 992px) {
  .nav__list {
    display: none;
  }
}
.nav__list a {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s;
}
.nav__list a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 3px;
  width: 0;
  background: #fce38a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav__list a:hover {
  color: #fce38a;
}
.nav__list a:hover:after {
  width: 100%;
  left: 0;
}
.nav__list--icons {
  grid-area: icons;
  gap: 40px;
}
.nav--mobile {
  display: grid;
}
@media (max-width: 992px) {
  .nav--mobile {
    position: relative;
    grid: "logo hamburger" auto "list list" 1fr "icons icons" 1fr/1fr 1fr;
    align-items: center;
    height: 100vh;
    margin: 0 -15px;
    padding: 30px 15px;
  }
  .nav--mobile::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.85;
    z-index: -1;
  }
  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav--mobile .nav__list a {
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  .nav--mobile .nav__list--icons {
    flex-direction: row;
    align-self: start;
    justify-content: center;
  }
}

.form__input {
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 15px;
  font-family: Roboto, Georgia, sans-serif;
}
.form__input::placeholder {
  color: #cccccc;
  font-weight: 300;
  font-style: italic;
}
.form__submit {
  background-color: #95e1d3;
  border: none;
  padding: 10px 30px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  display: grid;
  grid: "footer-copyright ... footer-form" 1fr/auto 1fr auto;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}
@media (max-width: 576px) {
  .footer {
    grid: "footer-form" 1fr "footer-copyright" 1fr/auto;
    gap: 10px;
    justify-content: center;
    padding: 20px 0 10px;
  }
}
.footer__copyright {
  grid-area: footer-copyright;
  color: #000;
  font-weight: 600;
}
@media (max-width: 576px) {
  .footer__copyright {
    text-align: center;
  }
}
.footer__copyright a {
  color: #f38181;
}
.footer__form {
  grid-area: footer-form;
  display: flex;
}

.section {
  margin: 45px 0;
}
@media (max-width: 576px) {
  .section {
    margin: 35px 0;
  }
}
.section__title {
  position: relative;
  margin-bottom: 40px;
}
.section__title .title {
  padding: 10px 0;
}
@media (max-width: 576px) {
  .section__title .title {
    padding: 7px 0;
  }
}
.section__title .subtitle {
  padding: 5px 0;
}
.section__title--line::after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 40px auto;
}
@media (max-width: 992px) {
  .section__title--line::after {
    margin: 30px auto;
  }
}
@media (max-width: 576px) {
  .section__title--line::after {
    margin: 15px auto;
  }
}
.section__desc {
  padding: 10px 0;
  text-align: center;
}

.services {
  grid-area: services;
}

.our-team {
  grid-area: our-team;
}
.our-team > .desc {
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .our-team > .desc {
    padding-bottom: 30px;
  }
}
.our-team .gallery__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team .gallery__img .social-media {
  display: none;
  z-index: 1;
}
.our-team .gallery__img:hover .social-media {
  display: inherit;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
