body, a {
    font-size: 14px;
    font-family: $font-family-primary;
    color: $font-color-primary;
}

.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $breakpoint-sm) {
        font-size: 25px;
    }

    &--big {
        font-size: 150px;
        line-height: 140px;

        @media (max-width: $breakpoint-lg) {
            font-size: 100px;
            line-height: 110px;
        }

        @media (max-width: $breakpoint-sm) {
            font-size: 50px;
            line-height: 50px;
            letter-spacing: 0px;
        }
    }
}

.subtitle {
    font-size: 24px;
    font-family: $font-family-tertiary;

    @media (max-width: $breakpoint-sm) {
        font-size: 18px;
    }

    &--big {
        font-size: 72px;

        @media (max-width: $breakpoint-lg) {
            font-size: 54px;
        }

        @media (max-width: $breakpoint-sm) {
            font-size: 34px;
        }
    }
}

.desc {
    font-size: 15px;
    font-family: $font-family-secondary;
    color: $font-color-tertiary;
    line-height: 24px;
}